<article>
  <a href="/dashboard" class="text-info"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="container-md">
      <input name="post-title" type="text" size="65" value="{{post.title}}" />
      
    </div>
    <div class="container-md">
      
      <textarea name="post-text" type="text">{{post.post_text}}</textarea>
      
    </div>
    <button type="submit" class="btn btn-info">Save post</button>
    <button type="button" class="delete-post-btn btn btn-info">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div class="container-md">
    <textarea name="comment-body"></textarea>
  </div>

  <div class="container-md">
    <button type="submit" class="btn btn-info">Add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>