<form class="signup-form">
    <div class="p-2 m-2">
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div class="p-2 m-2">
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div class="p-2 m-2">
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit" class="btn btn-info">signup</button>
    </div>
</form>

<script src="/javascript/signup.js"></script>