* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
}